@font-face {
    font-family: Exo;
    src: url(Exo2-Light.ttf);  /* first font == regular */
}

.about_us_container{
    position: relative;
    color: whitesmoke;
    font-family: Exo;
    height: auto;
}

.centered {
    top: 20%;
    text-align: center;
    position: relative;
}


#about_us_style_text{
    font-family: Exo;
    color: darkgray;
}

@media screen and (max-width: 600px) {
    .centered{
        top: 5%;
        margin: 10px;
    }
}

@media screen and (max-width: 600px) {
    .about_us_container{
        width: 100vw;
    }
}