@font-face {
    font-family: Exo;
    src: url(Exo2-Light.ttf);  /* first font == regular */
  }

.sponsors_container{
    position: relative;
    height: auto;
    padding-bottom: 20px
}
h1{
    font-family: Exo;
}

.UIO {
  height: 250px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 100%;
}


.Insj {
  height: 250px;
  padding-right: 40px;
  max-width: 100%;
}


.Dspace {
  height: 150px;
  padding-right: 40px;
  max-width: 100%;
}

.Meteor {
  height: 200px;
  padding-right: 20px;
  max-width: 100%;
}

.Kjeller {
  height: 150px;
  max-width: 100%;

}


.Ellingsen {
  position: relative;
  padding-left: 20px;
  height: 100px;
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .Ellingsen{
    position: relative;
    padding-left: 20px;
    height: 50px;
    max-width: 100%;
  }
}

