@font-face {
    font-family: Exo;
    src: url(Exo2-Light.ttf);  /* first font == regular */
}

.team_container{
    position: relative;
    color: whitesmoke;
    margin-bottom: 10px;
    padding-top: 100px;
    overflow: hidden;
    height: auto;
}
#txt_styling{
    color: dimgrey;
    font-size: 22px;
    font-family: Exo;
}

.join_buttons{
    border-radius: 8px;
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    border: none;
    margin: 10px;
    font-family: Exo;
}

.button_container{
    display: flex;
    justify-content: center;
}

.centered{
    top: 20%;
    text-align: center;
}

.centered h2{
    color: whitesmoke;
    object-position: center;
    font-family: Exo;
}

.team_image{
    height: 40vh;
    object-position: center;
}

@media screen and (max-width: 600px) {
    .team_container{
        margin-top: 100px;
        padding-top: 70px;
    }
    .team_image{
        width: 100vw;
        height: auto;
    }
}